body{background-color: lightgrey}

h1{
		color: green;
		font-size: 90px;
		text-decoration: underline;
	}
	#first{
		font-size: 30px
	}

	.small{
		font-size: 120px
	}
	h2{
		font size: 40px;
	}
	h2{
		font size: :60px
		color: red;
	}

	span{
		font-style: italic;
	}

	h2 span{
		text-decoration: line-through;
	}